{% extends 'base.html' %}
{% block title %}Review{% endblock %}
{% block content %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Foodie.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        {% if not user.is_authenticated %}
        <a class="nav-link" href="{% url 'log_in' %}">Login</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if user.is_authenticated %}
        <a class="nav-link" href="">Hi {{user}}</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'showcart' %}">My Cart</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'log_out' %}">Logout</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'add_review' %}">Write a Review</a>
        {% endif %}
      </li>

    </ul>
  </div>
</nav>
{% for reviews in review %}
  <div class="card" style="width: 85rem;">
    <div class="card-body">
      <h5 class="card-title">{{ reviews.pasta }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">By {{ reviews.user }}</h6>
      <p class="card-text">{{ reviews.review }}</p>
    </div>
  </div>
{% endfor %}
{% endblock %}